#marquee {
  background-image: linear-gradient(106.94deg, #15c064 28.5%, #00d1ff 91.82%);
  

  marquee {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
  }
}
