#video {
  .container {
    height: 800px;
    

    video {
      height: 800px;
      border-radius: 20px;
    }

    .name {
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      color: $white-color;
      position: relative;
      top: -120px;
      left: 50px;
    }
    p {
      margin-top: 10px;
      position: relative;
      top: -120px;
      left: 50px;
      font-size: 18px;
      line-height: 28px;
      color: $white-color;
    }
  }
}
